/* Card styling */
.card {
    background-color:155, 245, 244, 0.3;
    height: 810px;
    width: 576px;
    border: 4px solid #fff; /* Add a border to the cards */
    margin: 4px; /* Add margin between cards */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow to the cards */
    border-radius: 10px; /* Rounded corners for the cards */
}

.front {
    background-color: rgba(255, 255, 255, 0.3);
}

.back {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
