.container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  height: 100%;
}

.row {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.row:first-child {
  height: 200px;
}

.row:nth-child(2) {
  height: 800px;
}

.col-1 {width: 8%;}
.col-2 {width: 16%;}
.col-3 {width: 24%;}
.col-4 {width: 32%;}
.col-5 {width: 40%;}
.col-6 {width: 48%;}
.col-7 {width: 56%;}
.col-8 {width: 64%;}
.col-9 {width: 72%;}
.col-10 {width: 80%;}
.col-11 {width: 88%;}
.col-12 {width: 96%;}
